Django==4.2.13
psycopg[binary]==3.1.19
# django-filter==23.2
# djangorestframework==3.12.4
# djoser==2.1.0
# Pillow==9.3.0
django-admin-rangefilter==0.13.0
django-import-export==4.0.6
python-telegram-bot==21.2
django-modeladmin-reorder==0.3.1
# python-dotenv==1.0.1
gunicorn==22.0.0
uvicorn==0.30.1
# flake8==7.0.0
# pep8-naming==0.14.1
# flake8-broken-line==1.0.0
# flake8-return==1.2.0
# flake8-isort==6.1.1
# flake8-docstrings==1.7.0
